<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lkjhgf">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".Connection_view_detail"></activity>
        <activity android:name=".Possible_connections_multiple" />
        <activity
            android:name=".Possible_connections_single"
            android:parentActivityName=".Single_route" />
        <activity
            android:name=".Multiple_routes"
            android:parentActivityName=".Main_activity" />
        <activity
            android:name=".Single_route"
            android:parentActivityName=".Main_activity" />
        <activity
            android:name=".Informationpage"
            android:parentActivityName=".Main_activity" />
        <activity android:name=".Settings" />
        <activity android:name=".Main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>