<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lkjhgf">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/my_ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".trip.singleTrip.ThirdView_CloseUp"></activity>
        <activity
            android:name=".trip.singleTrip.SecondView_AllPossibleConnections"
            android:parentActivityName=".trip.singleTrip.StartView_Form" />
        <activity
            android:name=".trip.singleTrip.StartView_Form"
            android:parentActivityName=".main_menu.Main_activity" />
        <activity android:name=".futureTrips.closeUp.CompleteCloseUp"
            android:parentActivityName=".futureTrips.Complete"/>
        <activity android:name=".futureTrips.closeUp.IncompleteCloseUp"
            android:parentActivityName=".futureTrips.Incomplete"/>
        <activity android:name=".trip.singleTrip.EditSingleTrip"/>
        <activity android:name=".trip.multipleTrips.CopyMultipleTrip"/>
        <activity android:name=".trip.multipleTrips.EditMultipleTrip"/>
        <activity android:name=".trip.singleTrip.CopySingleTrip"/>
        <activity
            android:name=".main_menu.Informationpage"
            android:parentActivityName=".main_menu.Main_activity" />
        <activity android:name=".trip.multipleTrips.StartView_Form"
            android:parentActivityName=".main_menu.Main_activity"/>
        <activity android:name=".trip.multipleTrips.SecondView_AllPossibleConnections"
            android:parentActivityName=".trip.multipleTrips.StartView_Form"/>
        <activity android:name=".trip.multipleTrips.ThirdView_DetailedView"
            android:parentActivityName=".trip.multipleTrips.SecondView_AllPossibleConnections"/>
        <activity android:name=".futureTrips.Incomplete"
            android:parentActivityName=".main_menu.Main_activity"/>
        <activity android:name=".futureTrips.Complete"
            android:parentActivityName=".main_menu.Main_activity"/>
        <activity android:name=".main_menu.Settings" />
        <activity android:name=".main_menu.Main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>